<!--
  Generated template for the MedicationslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="main">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Health History</ion-title>
  </ion-navbar>
  <span *ngIf='typeD'>
    <ion-fab top right>
        <button ion-fab (click)="add()"> 
          <ion-icon name="add"></ion-icon> 
        </button>
    </ion-fab>
  </span>
</ion-header>

<ion-content padding>
    <span *ngFor='let Prsc of PrscList[0];let i = index' color="primary">
        <ion-card>
            <button ion-button block>{{Prsc.date|date:'short'}}</button>
            <button ion-button block>{{Prsc.Desc}}</button>
            <button ion-button block>{{Names[i]}}</button>
          <ion-list *ngFor='let P of Prsc.medications'>
            <ion-item>
              <ion-label>Medicine: </ion-label>
              <ion-label ion-button clear>{{P.Name}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Times Per Day: </ion-label>
              <ion-label ion-button clear>{{P.TimesPerDay}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>until: </ion-label>
              <ion-label ion-button clear>{{P.until}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Price: </ion-label>
              <ion-label ion-button clear>{{P.price}}</ion-label>
            </ion-item>
            <hr/>
          </ion-list>
          <button ion-button block color="secondary" (click)="BuyAlert()">Buy Now</button>
        </ion-card>
      </span>
</ion-content>
