<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="main">
      <ion-title >Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  
  </ion-content>

  <ion-footer>
      <ion-item menuClose *ngIf="!auth.logged">  <button ion-button block (click)="login()" clear>Login</button></ion-item>
    <ion-item *ngIf="auth.logged">  <button ion-button block (click)="logout()" clear style="font-size: 15px;">  <ion-icon ios="ios-exit" md="md-exit"> Logout</ion-icon> </button></ion-item>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>