<ion-header>
  <ion-navbar color="main">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Doctor</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <span *ngIf="!flag">
    <ion-card *ngFor="let Doctor of searched" (click)="viewDoctorDetails(Doctor)">
      <ion-card-content>
          <img style="margin-left:auto; margin-right:auto; margin-top:25px; width: 40%; height: 40%;" [src]="Doctor.image">
        Dr.{{Doctor.fname}} {{Doctor.lname}}
      </ion-card-content>
    </ion-card>
  </span>
  <span *ngIf="flag">
    <ion-card *ngFor="let Doctor of result" (click)="viewDoctorDetails(Doctor)">
      <ion-card-content>
          <img style="margin-left:auto; margin-right:auto; margin-top:25px; width: 40%; height: 40%;" [src]="Doctor.image">
        Dr.{{Doctor.fname}} {{Doctor.lname}}
      </ion-card-content>
    </ion-card>
  </span>

</ion-content>
